/*  Fonts
    -----
    font-family: 'Lora', serif;
    font-family: 'Ubuntu', sans-serif;
 */
body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}

/* =================
Typography
================= */

h1 {
    font-family: 'Lora', serif;
    font-size: 2rem;
    font-weight: 400;
    margin: 0;
}

.subtitle {
    font-size: .75rem;
    font-weight: 700;
    color: #1792D2;
    margin: 0;
}

/* =================
Layout
================= */

.container {
    border: 1px magenta solid;
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

.container-nav {
    display: flex;
    justify-content: space-between;
}

header {
    /* text-align: center; */ /* commented this out as on desktop view we don't need it centre-aligned */
    background-color: #F8F8F8;
    padding: 2em 0;
}

/* navigation */

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    /* margin: 0 1rem; */ /* commented this and used below as in desktop view the rightmost li was creating gap from container border */
    margin-left: 2em; /* Not 1em as we are keeping just for one side(left) whereas prev we had 1em + 1em = 2em (1 on both sides)*/
}

nav a {
    text-decoration: none;
    font-weight: 700;
    color: #707070;
    padding: 0.25em 0; /* Not having on sides so that the border-bottom doesn't extend. */
}

nav a:hover,
nav a:focus {
    color: #1792D2;
}

.current-page {
    border-bottom: 1px solid #707070;
}

.current-page:hover {
    color: #707070; /* Bcz we don't want hover effect on current page link */
}