/*  Fonts
    -----
    font-family: 'Lora', serif;
    font-family: 'Ubuntu', sans-serif;
 */
body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

header {
    /* text-align: center; */
    padding: 2em 0;
    background-color: #f8f8f8;
}

.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

.container-nav {
    display: flex;
    justify-content: space-between;
}

h1 {
    margin: 0;
    font-family: 'Lora', serif;
    font-size: 2rem;
    font-weight: 400;
    color: #143774;
}

.subtitle {
    margin: 0;
    font-weight: 700;
    font-size: 0.75rem;
    color: #1792d2;
}

 nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin-left: 2em;
}

nav a {
    text-decoration: none;
    font-weight: 700;
    color: #707070;
    padding: 0.25em 0;
}

nav a:hover,
nav a:focus {
    color: #1792d2;
}

.current-page {
    border-bottom: solid 2px #707070;
}

.current-page:hover {
    color: #707070;
}

@media (max-width: 675px) {
    .container-nav {
        flex-direction: column;
    }

    header {
        text-align: center;
    }

    nav ul {
        flex-direction: column;
    }

    nav li {
        margin: 0.5em 0;
    }
}